.contato {
  background-color: var(--cor-de-fundo-alternada);
  padding: 129.5px 0 65.5px;
}
.contato__container {
  display: grid;
  margin: auto;
  grid-template-areas:
    "imagem chamada"
    "imagem formulario"
    "imagem formulario";
  gap: 0 2rem;
  width: var(--largura-large);
}

.contato__container__imagem {
  grid-area: imagem;
  background-image: url("../assets/email.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 40vw;
}
.contato__container__chamada {
  grid-area: chamada;
}
.contato__container__chamada__titulo {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 8px;
}
.contato__container__formulario {
  grid-area: formulario;
  display: flex;
  flex-direction: column;
}
.contato__container__formulario__label {
  margin: 32px 0 0 0;
  display: block;
  box-sizing: border-box;
  padding: 10px 5px;
  width: 100%;
  border: 1px solid black;
  background-color: white;
}
.contato__container__formulario__input {
  line-height: 20px;
  font-weight: 400;
  font-size: 16px;
  border: none;
  width: 100%;
}
.contato__container__formulario__textarea {
  resize: none;
  height: 133px;
  width: 100%;
  border: none;
  font-size: 16px;
  margin-top: 5px;
}

@media screen and (max-width: 850px) {
  .contato {
    padding: 32px 0;
  }
  .contato__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: var(--largura-mobile);
    gap: 0;
  }
  .contato__container__imagem {
    display: none;
  }
  .contato__container__formulario {
    align-items: stretch;
  }
}
