.formacao {
  background-color: var(--cor-de-fundo-alternada);
  padding-bottom: 82px;
}

.formacao__titulo {
  padding: 32px 0;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
}

.formacao__container {
  width: var(--largura-large);
  margin: auto;
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

.formacao__container__card {
  height: 286px;
  width: 45%;
  max-width: 368px;
  min-width: 255px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formacao__container__card__ufal {
  background-image: url("../assets/formacao/ufal.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 60%;
}

.formacao__container__card__unit {
  background-image: url("../assets/formacao/unit.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 60%;
}

.formacao__container__card__titulo {
  font-size: 22px;
  font-weight: 700;
}

@media screen and (max-width: 850px) {
  .formacao__container {
    width: var(--largura-mobile);
  }
}

@media screen and (max-width: 400px) {
  .formacao__titulo {
    font-size: 22px;
    font-weight: 700;
  }

  .formacao__container__card__titulo {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
  }
}
