.projetos__titulo {
  padding: 32px 0;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  margin: auto;
}

.projetos__container {
  width: var(--largura-large);
  margin: auto;
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
}
.projetos__container:last-child {
  margin-bottom: 2rem;
}
.projetos__container__imagem {
  width: 60%;
  height: 360px;
}
.projetos__container__imagem--codificador {
  background: url("../assets/projetos/codificador.png") center / contain
    no-repeat;
}
.projetos__container__imagem--forca {
  background: url("../assets/projetos/forca.png") center / contain no-repeat;
}
.projetos__container__imagem--netgames {
  background: url("../assets/projetos/netgames.png") center / contain no-repeat;
}
.projetos__container__imagem--discordclone {
  background: url("../assets/projetos/imersao-nextjs.png") center / contain
    no-repeat;
}
.projetos__container__imagem--react-weather {
  background: url("../assets/projetos/react-weather-app.png") center / contain
    no-repeat;
}
.projetos__container__imagem--codificador,
.projetos__container__imagem--forca {
  height: 29vw;
}
.projetos__container__imagem--netgames,
.projetos__container__imagem--react-weather {
  height: 32vw;
}

.projetos__container__imagem--discordclone {
  height: 30vw;
}

.projetos__container__info {
  width: 40%;
  margin-left: 26px;
}
.projetos__container:nth-child(2n + 1) {
  flex-direction: row-reverse;
}
.projetos__container:nth-child(2n + 1) .projetos__container__info {
  margin: 0 26px 0 0;
}
.projetos__container__imagem img {
  width: 100%;
}

.projetos__container__info h2 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 8px;
}
.projetos__container__info p {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}
.projetos__container__info a {
  border: 1px solid #2a7ae4;
  text-decoration: none;
  display: inline-block;
  color: #2a7ae4;
  padding: 16px;
}
.projetos__container__info a:nth-child(2n) {
  text-decoration: none;
  background-color: #2a7ae4;
  color: white;
  padding: 16px;
  display: inline-block;
}

@media screen and (max-width: 850px) {
  .projetos__container {
    flex-direction: column;
    align-items: flex-start;
    width: var(--largura-mobile);
  }
  .projetos__container__imagem,
  .projetos__container__info {
    width: 100%;
    margin-left: 0;
  }
  .projetos__container__imagem--codificador,
  .projetos__container__imagem--forca {
    height: 51vw;
  }
  .projetos__container__imagem--netgames,
  .projetos__container__imagem--react-weather {
    height: 57vw;
  }
  .projetos__container__imagem--discordclone {
    height: 53vw;
  }

  .projetos__container:nth-child(2n + 1) {
    flex-direction: column;
    align-items: flex-start;
  }
  .projetos__container:nth-child(2n + 1) .projetos__container__info {
    margin: 0;
  }
  .projetos__container__info {
    padding-top: 16px;
  }
  .projetos__container__info a + a {
    margin-left: 16px;
  }
}

@media screen and (max-width: 400px) {
  .projetos__titulo {
    font-size: 22px;
    font-weight: 700;
  }
}
