.skills {
  padding: 40px 0;
}

.skills__titulo {
  padding: 32px 0;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
}

.skills__container {
  width: var(--largura-large);
  margin: auto;
  display: flex;
  justify-content: flex-start;
  gap: calc(10% / 5);
  flex-wrap: wrap;
}

.skills__container__card {
  height: 175px;
  width: 15%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10px;
}

.skills__container__card__icone {
  max-width: 50px;
  max-height: 50px;
  margin-left: 20px;
}

.skills__container__card span {
  margin: 5px 0 20px 20px;
}

@media screen and (max-width: 850px) {
  .skills {
    padding: 0;
  }
  .skills__container {
    width: var(--largura-mobile);
    gap: 5%;
  }
  .skills__container__card {
    width: 30%;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 400px) {
  .skills__container {
    gap: 10%;
  }
  .skills__container__card {
    width: 45%;
  }
}
