.sobre-mim {
  background-color: #eaf2fd;
  padding: 64px 0;
}
.sobre-mim__conteudo {
  margin: auto;
  width: var(--largura-large);
}
.sobre-mim__conteudo__titulo {
  font-weight: 700;
  font-size: 32px;
  line-height: 50px;
}
.sobre-mim__conteudo__texto {
  line-height: 18.78px;
  font-size: 16px;
  font-weight: 400;
  width: 70%;
}
.sobre-mim__conteudo__texto {
  margin-bottom: 1rem;
}
.sobre-mim__conteudo__texto:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 850px) {
  .sobre-mim__conteudo {
    width: var(--largura-mobile);
  }
  .sobre-mim__conteudo__texto {
    width: 100%;
  }
}
