{% extends "admin/change_form.html" %} {% block submit_buttons_bottom %}
<div class="submit-row">
  {% if not is_popup %}
  <input
    type="submit"
    value="{% if is_add_popup %}Add Another{% else %}Save{% endif %}"
    class="default"
    name="_addanother"
  />
  <input type="submit" value="Save and Continue Editing" name="_continue" />
  {% if not is_popup %} {% if can_delete %}
  <a
    href="{% url 'admin:homepage_portfoliosite_delete' original.pk %}"
    class="deletelink"
    >Delete</a
  >
  {% endif %} {% endif %} {% endif %}
</div>
{% endblock %}
