@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --background-color: #111827;
  --background-image: linear-gradient(90deg,rgba(11, 19, 43, 1) 0%, rgba(28, 37, 65, 1) 39%, rgba(58, 80, 107, 1) 100%);
  --text-color-default: #fff;

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
}

@theme {
  --breakpoint-xs: 30.875rem;
}

@layer components {
  .link-underline {
    @apply relative inline-block;
  }

  .link-underline::after {
    @apply content-[''] absolute bottom-0 left-0 h-[2px] w-full;
    @apply bg-current scale-x-0 origin-left transition-transform;
  }

  .link-underline:hover::after {
    @apply scale-x-100;
  }
}

section {
  scroll-margin-top: 56px;
}

.scrollbar-hide {
  /* Firefox */
  scrollbar-width: none;
  /* IE and Edge */
  -ms-overflow-style: none;
}
/* Chrome, Safari, and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

body {
  background: var(--background-color);
  background-image: var(--background-image);
  color: var(--text-color-default);
  font-family: "Epilogue", "Epilogue Fallback", sans-serif;
}
