.apresentacao {
  margin: auto;
  display: flex;
  align-items: center;
  padding-bottom: 32px;
}
.apresentacao__conteudo__titulo {
  font-weight: 700;
  font-size: 52px;
}
.apresentacao__conteudo__titulo,
.apresentacao__conteudo__texto {
  margin-bottom: 20px;
}
.apresentacao__imagem {
  max-height: 368px;
  max-width: 368px;
  border-radius: 50%;
  display: block;
}

.apresentacao__conteudo__redes__rede {
  text-decoration: none;
  color: black;
  margin-right: 32px;
}

@media screen and (max-width: 850px) {
  .apresentacao__conteudo__titulo {
    font-size: 22px;
  }
  .apresentacao__imagem {
    max-width: 146px;
    max-height: 146px;
    margin-left: 32px;
  }
}

@media screen and (max-width: 400px) {
  .apresentacao__conteudo {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .apresentacao__imagem {
    margin: 0 0 16px 0;
  }
}
