.navegacao {
  padding: 50px 0 66.5px;
  width: var(--largura-large);
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.navegacao__nome__icone {
  max-height: 22px;
  vertical-align: middle;
  padding-right: 9px;
}

.navegacao__nome {
  display: block;
}

.navegacao__nome,
.navegacao__links__link {
  text-decoration: none;
  color: black;
}

.navegacao__links__link {
  margin-right: 5px;
}
.navegacao__links__link:hover {
  color: blue;
  border-bottom: 1px solid blue;
}

@media screen and (max-width: 850px) {
  .navegacao {
    width: var(--largura-mobile);
    padding: 50px 0 58.5px;
  }
  .navegacao__nome {
    width: 50%;
    display: flex;
  }
  .navegacao__nome__icone {
    max-height: 16px;
  }
  .navegacao__links {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .navegacao__links__link {
    display: none;
  }
  .navegacao__links__link:last-child {
    display: inline;
  }
}

@media screen and (max-width: 400px) {
  .navegacao {
    padding: 18.5px 0 34.5px;
  }
  .navegacao__nome {
    justify-content: flex-start;
    align-items: center;
  }
  .navegacao__nome__icone {
    padding-right: 2px;
    max-height: 14px;
  }
  .navegacao__nome__texto {
    font-size: 12px;
  }

  .navegacao__links__link:last-child {
    font-weight: 400;
    font-size: 12px;
  }
}
